.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  height: 100%;
  img {
    max-width: 540px;
    width: 100%;
    margin: 0 16px;
  }
  .title {
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #97aacd;
  }
  button {
    padding: 10px 30px;
    background: #4368e0;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #f6f9fe;
    border: none;
    cursor: pointer;
  }
}
